# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Simulation Data (Large Files)
*.msh
*.geo
*.nii.gz
*.mat
*.log
